<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Lord of the rings</title>
  </head>
  <body>
    <div id="app">
        <ul>
            <li v-for='character in characters'>
              <p>{{ character.name }}</p>
              <button @click="favoriteCharacter(character)">favorite</button>
            </li>
        </ul>
        <h2>Favorite Characters</h2>
        <ul v-if='favoriteCharacters.length > 0'>
          <li v-for="character in favoriteCharacters">{{character.name}}</li>
        </ul>
        <p v-else>There are no favorites</p>
        <h2>New character</h2>
        <pre>{{ newCharacter }}</pre>
        <label for="name">Name</label>
        <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter" />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;

        const app = createApp({
            data: () => ({
              newCharacter: {
                name: '',
              },
                characters: [
                    {name: 'Gandalf'},
                    {name: 'Aragorn'},
                    {name: 'Legolas'},
                    {name: 'Frodo'},
                ],
                favoriteCharacters: [],
            }),
            methods: {
              favoriteCharacter(character) {
                this.favoriteCharacters.push(character);
              },
              addNewCharacter() {
                this.characters.push(this.newCharacter);
                this.newCharacter = { name: '' };
              },
            },
        });

        app.mount('#app');
    </script>
  </body>
</html>