<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Lord of the rings</title>
  </head>
  <body>
    <div id="app">
      <h2>Statistics</h2>
      <ul>
        <li v-for="(stat, type) in benderStatistics">{{ type }}: {{ stat }}</li>
      </ul>
      <h2>Characters</h2>
      <pre>{{ characters }}</pre>
        <ul>
            <li v-for='character in characters'>
              <p>{{ character.name }}</p>
              <button @click="favoriteCharacter(character)">favorite</button>
            </li>
        </ul>
        <h2>Favorite Characters</h2>
        <ul v-if='favoriteCharacters.length > 0'>
          <li v-for="character in favoriteCharacters">{{character.name}}</li>
        </ul>
        <p v-else>There are no favorites</p>
        <h2>New character</h2>
        <pre>{{ newCharacter }}</pre>
        <label for="name">Name</label>
        <input type="text" v-model="newCharacter.name" @keyup.enter="addNewCharacter" />
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;

        const app = createApp({
            data: () => ({
              newCharacter: {
                name: '',
                element: [],
              },
              characters: [
                  {name: 'Gandalf', elements: ['Air', 'Earth', 'Water', 'Fire'],},
                  {name: 'Aragorn', elements: ['Air', 'Fire'],},
                  {name: 'Legolas', elements: ['Grass'],},
                  {name: 'Frodo', elements: ['Water', 'Earth'],},
              ],
              favoriteCharacters: [],
            }),
            methods: {
              favoriteCharacter(character) {
                this.favoriteCharacters.push(character);
              },
              addNewCharacter() {
                this.characters.push(this.newCharacter);
                this.newCharacter = { name: '' };
              },
            },
            computed: {
              benderStatistics() {
                const allElements = ['Air', 'Fire', 'Water', 'Grass', 'Earth'];
                
                const statistics = {
                  Air: 0,
                  Water: 0,
                  Fire: 0,
                  Earth: 0,
                  Grass: 0,
                };

                this.characters.forEach(character => {
                  allElements.forEach(element => {
                    if (character.elements.indexOf(element) > -1) {
                      statistics[element] += 1;
                    }
                  });
                });
                
                return statistics;
              }
            }
        });

        app.mount('#app');
    </script>
  </body>
</html>